{% extends "layout.twig" %}

{% block content %}

<div class="row container">
    <div class="nine col push">
        <header class="bk-header">
            {{widget('companyname', 'tyrol', {"business": "profile"})|raw}}
            {{widget('clicktocall', 'tyrol-call', {phoneText: '0800 123 123'})|raw}}
        </header>  
        <div class="main clearfix">
            {{widget('gallery', 'featuregallery', {})|raw}}
            {{zone('main')|raw}}
        </div>  
    </div>
    <div class="three col pull">
        <footer class="bk-footer">
        {% if pages|length > 1 %}
            {{widget('extendednavigation', 'navigationheader', {})|raw}}
        {% endif %}
        </footer>
    </div>
</div>

<script src="{{asset('assets/isotape.js')}}"></script>
<script>

(function ()
{
	// Add the niceScroll plugin to the iframe html element
	$(document).ready(function ()
	{
        var featuregallery = $('#page-zones__template-widgets__gallery-featuregallery'),
            timeout = null,
            setuptimeout = null;

        function setUpGallery() {
            featuregallery.isotope({
                itemSelector: 'li',
                masonry: {}
            });
        }

        featuregallery.on('prerender', function() {
            featuregallery.isotope('destroy');
        });

        featuregallery.on('rendered', function(){
            clearTimeout(setuptimeout);
            setuptimeout = setTimeout(function() {
                setUpGallery();
            },1000);
        });

        window.addEventListener( 'resize', function() {
            //clearTimeout(timeout);
            //timeout = setTimeout(function() {
                featuregallery.isotope('reLayout');
            //},1000);
        }, false );

        setUpGallery();
    });
}());
</script>

{% endblock %}
